.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  padding:20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'helvetica neue', helvetica;
  	font-weight: 100;
  	margin:0;
    padding:0;
}

body {
	background: url('/assets/beer.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	font-family: 'helvetica neue', helvetica;
  	font-weight: 300;
}

.navbar.navbar-inverse {
  background:url('/assets/stressed_linen.png');
  border-radius:0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
}

.navbar-inverse .navbar-brand{
  font-family: 'salarymanregular';
  color: #FFFFFF;
  font-size: 26px;
}
.navbar-inverse .navbar-brand:hover{
  color: #ABABAB

}
.navbar-inverse .navbar-text {
	  font-family: 'salarymanregular';
	  text-decoration: none;
  color: #FFFFFF;
  font-size: 22px;
  padding-top: 17px;
  margin: -5px;

}
.navbar-inverse .navbar-text:hover{
	color:#23527c;
}

.navbar-brand {
	max-width:100px; 
	margin-top: -6px;

}

.navbar-text{
	display: inline-block;
	vertical-align:center;


}

.navbar-nav{
	padding-left: 30px
}
.pagination > li > a{
	color: #FFFFFF;
background:url('/assets/stressed_linen.png');
border:#000000;
}
.pagination > li > a:hover{
	color:#23527c
}

.pagination > .disabled > span:hover{
	background-color:#000000;
}
.pagination > .active > span{
	background:url('/assets/stressed_linen.png');
	border:#000000;
}

.pagination > .active > span:hover{
	background-color:#000000;

}

.pagination > .disabled > span {
	background:url('/assets/stressed_linen.png');
	border:#000000;
}

.detail-box{
	padding-top:30px;
}

.panel-default{
    border-radius:0;
  	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
  	margin-top: 4px;
 

}

.btn-primary{
	border-radius:0;
	background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}
.btn-primary:hover{
	background-color:#000000 rgba(0, 0, 0, 0.8);
}
