<div class="detail-box col-xs-12 col-sm-10 col-sm-offset-1"> 	
 	<div class="panel panel-default">				

		<div class="panel-heading">
			<h1><%= @place.name %></h1>
		</div>
		<div class="panel-body">		
			<i><%= @place.address %></i>
			<br/><br/>
			<p><%= @place.description %></p>
		</div>
	</div>
</div>	